.box {
    width: 100px;
    height: 100px;
    background-color: rgb(222, 22, 22);
    position: absolute;
    

}

.box-two {
    width: 100px;
    height: 100px;
    background-color: rgb(21, 255, 0);
    position: absolute;
    margin-top: 125px;
    margin-left: 125px;
}

.box-three {
    width: 100px;
    height: 100px;
    background-color: rgb(21, 0, 128);
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
}

.ul {
    position: relative;
   width: 1000px;
}

.li {
    position: relative;
     list-style: none;
}